body,html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.all{
    width: 100%;
    height: 100vh;
    /* border: 2px solid green; */
    background: linear-gradient( rgb(248, 238, 150), rgb(180, 240, 240), rgb(180, 240, 240),rgb(180, 240, 240));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* @keyframes flame{
    0%{transform: translateY(0%);}
    50%{transform: translateY(89%);}
    100%{transform: translateY(0%);}
} */
.all .cloud{
    /* border: 1px solid; */
    position: absolute;
    margin-top: -500px;
    margin-left: -60px;
    height: 100px;
    width:500%;
    background-image: url(./1527246125.svg);
    background-repeat: repeat-x;
    animation: cloud 50s linear infinite;
}
@keyframes cloud{
    100%{
        transform: translateX(2000px);
    }
    /* 50%{
        transform: translateX(2%);
    } */
    /* 100%{
        transform: translateX(2%);
    } */
}
.all .mountain{
    /* border: 1px solid; */
    position: absolute;
    margin-top: 550px;
    margin-left: -60px;
    height: 500px;
    width:500%;
    background-image:url(./Mountain.svg);
    background-repeat: repeat-x;
    animation: mountain 15s linear infinite;
}
@keyframes mountain{
    100%{
        transform: translateX(2000px);
    }
    /* 50%{
        transform: translateX(2%);
    } */
    /* 100%{
        transform: translateX(2%);
    } */
}